.chartsContainer {
    display: grid;
    grid-template-columns: repeat(2, 6fr);
    grid-gap: 25px;
    padding: 0 60px;
}

@media (max-width: 991px) {
    .chartsContainer {
        display: grid;
        grid-template-columns: repeat(2, 6fr);
        padding: 25px;
    }
}

@media (max-width: 767px) {
    .chartsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 25px 10px;
    }
}

@media (max-width: 319px) {
    .chartsContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 25px 10px;
    }
}
