.tablesContainer {
    display: grid;
    grid-template-columns: repeat(2, 6fr);
    grid-gap: 25px;
    padding: 10px 60px 0px 60px;
}

@media (max-width: 991px) {
    .tablesContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 25px;
    }

    .ag-theme-alpine {
        min-width: 100% !important;
    }
}

@media (max-width: 767px) {
    .tablesContainer {
        padding: 0 10px;
    }
}
