.tableContainer {
    padding: 25px 60px;
}

@media (max-width: 991px) {
    .tableContainer {
        padding: 25px;
    }
}

@media (max-width: 767px) {
    .tableContainer {
        padding: 25px 10px;
    }
}
